.hidden
{
	display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Sanchez&display=swap');
/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }

 
}

/* Base styling */

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
}

img {
  display: block;
  width: 100%;
}

h1,
h2 {
	font-family: 'Sanchez', serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-size: 72px;
  background: -webkit-radial-gradient(#e8f5e9, #b2dfdb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 4.2rem;
  border: 0.5px solid #ddd;
}
p, i {
	font-family: 'Sanchez', sans-serif;
  font-size: 3rem;
  font-style: normal;
  color: -webkit-radial-gradient(#e8f5e9, #b2dfdb);
}



/* Navigation Bar Styling */

.logo{
  justify-content: center;
  width: 10%;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 66px;
  background: #d44e29;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

li {
  display: inline;
}

ul {
  list-style: none;
  padding: 10px;
  margin-top: 0.5em;
  
}

a {
  text-decoration: none;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 1em;
  color: #fff;
  padding: 10px;
  border-radius: 12px;
  
}
a:hover {
  color: rgba(1, 6, 98, 1);
}

button {
  padding: 0.8em 1.8em;
  border: 2px solid #d44e29;
  border-radius: 18px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: white;
  background-color: rgba(1, 6, 98, 1);
 }
 
 button::before {
  content: '';
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #d44e29;
  transition: .5s ease;
  display: block;
  z-index: -1;
  
 }
 
 button:hover::before {
  width: 105%;
 }
 
 button:hover {
  color: #111;
  cursor: pointer;
  border: 2px solid rgba(1, 6, 98, 1);
 }
 

/* Section 1 Styling*/

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='2000' preserveAspectRatio='none' viewBox='0 0 1920 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2705%26quot%3b)' fill='none'%3e%3crect width='1920' height='2000' x='0' y='0' fill='rgba(3%2c 67%2c 137%2c 1)'%3e%3c/rect%3e%3cpath d='M1920 0L1906.13 0L1920 181.54z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1906.13 0L1920 181.54L1920 299.47L1592.1000000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1592.1 0L1920 299.47L1920 618.1300000000001L1295.7399999999998 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M1295.74 0L1920 618.1300000000001L1920 1360.02L1249.57 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 2000L263.35 2000L0 1354.69z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 1354.69L263.35 2000L1042.3400000000001 2000L0 1263.6100000000001z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 1263.6100000000001L1042.3400000000001 2000L1396.39 2000L0 665.7500000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 665.75L1396.39 2000L1501.8500000000001 2000L0 457.18z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2705'%3e%3crect width='1920' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
  
.project-section {
  text-align: center;
  padding: 10rem 2rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='2000' preserveAspectRatio='none' viewBox='0 0 1920 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2704%26quot%3b)' fill='none'%3e%3crect width='1920' height='2000' x='0' y='0' fill='rgba(3%2c 67%2c 137%2c 1)'%3e%3c/rect%3e%3cpath d='M0 0L661.44 0L0 222.21z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 222.21L661.44 0L1228.02 0L0 499.52z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 499.52L1228.02 0L1505.03 0L0 546.65z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 546.65L1505.03 0L1548.91 0L0 1527.4z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1920 2000L1549.87 2000L1920 1345.28z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1920 1345.28L1549.87 2000L885.2999999999998 2000L1920 893.25z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1920 893.25L885.3 2000L381.23999999999995 2000L1920 885.24z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1920 885.24L381.24 2000L215.64000000000001 2000L1920 836.49z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2704'%3e%3crect width='1920' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");} 

  .projects-section-header {
  max-width: 640px;
  margin: 3rem auto 6rem auto;
  border-bottom: 1 solid #d44e29;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 38px;
  word-spacing: 4px;
  letter-spacing: 3px;
  box-shadow: 0 15px 50px rgba(1, 6, 98, 1);
  opacity: 0.8;
  text-transform: uppercase;
}

.projects-section-header2{
  margin-bottom: 35px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255, 255, 255, 0.7); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  padding: 20px;
  border: 3px solid #d44e29;
  width: 60%;
  border-radius: 18px;
}

/* The Close Button */
.close, .close2, .close3, .close4, .close5, .close6{
  color: rgba(1, 6, 98, 1);
  float: right;
  font-size: 48px;
  
}

.close:hover,
.close2:hover,
.close3:hover,
.close4:hover,
.close5:hover,
.close6:hover,
.close:focus,
.close2:focus,
.close3:focus,
.close4:focus,
.close5:focus,
.close6:focus {
  color: #d44e29;
  text-decoration: none;
  cursor: pointer;
  
}

#myBtn, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6{
  color: white;
  border: 2px solid;
}




@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
	
  }

  
  
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  border-style: none;
}
@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
	border-style: none;

  }

  .projects-grid {
    grid-template-columns: 1fr;
	border-style: none;

  }
 
}
.project {
  background: rgba(1, 6, 98, .8);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 28px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  transition: all 2s, transform 0.5s, box_shadow 0.5s;
  margin: 5px;
}
.project:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.08);
}

.project-image {
  height: calc(90% - 6.8rem);
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 28px;
  border-top-left-radius: 28px;
  
}
.project-title {
  font-family: "Sanchez", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem 0.5rem;
  color: #fff;
  text-transform: uppercase;
  border-style: none;
}

.project-desc{
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 1.7rem;
	text-align: center;
	padding: 2rem 0.5rem;
	color: white;
  border: 2px solid #d44e29;
  background-color: rgba(1, 6, 98, 1);
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 22px;
  padding: 12px;
	
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 105vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='2000' preserveAspectRatio='none' viewBox='0 0 1920 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2705%26quot%3b)' fill='none'%3e%3crect width='1920' height='2000' x='0' y='0' fill='rgba(3%2c 67%2c 137%2c 1)'%3e%3c/rect%3e%3cpath d='M1920 0L1906.13 0L1920 181.54z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1906.13 0L1920 181.54L1920 299.47L1592.1000000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1592.1 0L1920 299.47L1920 618.1300000000001L1295.7399999999998 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M1295.74 0L1920 618.1300000000001L1920 1360.02L1249.57 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 2000L263.35 2000L0 1354.69z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 1354.69L263.35 2000L1042.3400000000001 2000L0 1263.6100000000001z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 1263.6100000000001L1042.3400000000001 2000L1396.39 2000L0 665.7500000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 665.75L1396.39 2000L1501.8500000000001 2000L0 457.18z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2705'%3e%3crect width='1920' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}



.contact-section-header h2{
  margin-bottom: 20px;
  margin-top: 105px;
}
.contact-section-header p{
  margin-bottom: 25px;
}
#con {
    
    max-width: 640px;
    border: 2px solid white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 58px;
    word-spacing: 4px;
    letter-spacing: 3px;
    box-shadow: 0 15px 50px rgba(1, 6, 98, 1);
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 38px;
  
}


@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-links i{
	color: white;
}

.contact-links i:hover{
	color: #f05000;
	opacity: 0.8;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}
.contact-details:hover {
  transform: translateY(8px);
  color: red;
}
#submit {
  margin-top: 4rem;
 
  border-radius: 58px;
  padding-top: 0.7rem;
  padding-right: 2.1rem;
  padding-bottom: 1.1rem;
  transition: all 2s, transform 0.5s, box_shadow 0.5s;
}


#submit:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.04);
}


/* Footer Section */
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #d44e29;
  
  border-top: 4px solid #bfc8ea;
}
#foot {
  color: #fff;
  font-family: "Raleway", sans-serif;
}
#fot {
  margin-left: -0.1rem;
  color: white;
  font-family: "Raleway", sans-serif;
}
#fot:hover {
  color: rgba(1, 6, 98, 1);
}




/* contact section */

.formWrap
	{

		width: 70%;
		height: 100%;
		
		font: normal 22px 'Roboto', Arial, sans-serif;
		color: #ffffff;

	}

	.formWrap h2{
		font: normal 38px 'Raleway', Arial, sans-serif;
	}

  textarea, select, input
	{
	font: normal 14px 'Roboto', Arial, sans-serif;

	border: 4px solid rgba(1, 6, 98, 1);
  padding: 4px;
	border-radius: 10px;
	margin-top: 12px;
		margin-bottom: 12px;
		width: 100%;
		resize: none;
	}

	textarea, select, input:hover{
			color: black;


	}