.hidden
{
	display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Sanchez&display=swap');
/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
    }
    .contact-section{
      height: 155vh;
  
    }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
    

  }
  .contact-section{
    height: 155vh;

  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
    
  }

  .contact-section{
    height: 155vh;

  }

 
}

/* Base styling */

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='2000' preserveAspectRatio='none' viewBox='0 0 1920 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2705%26quot%3b)' fill='none'%3e%3crect width='1920' height='2000' x='0' y='0' fill='rgba(3%2c 67%2c 137%2c 1)'%3e%3c/rect%3e%3cpath d='M1920 0L1906.13 0L1920 181.54z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1906.13 0L1920 181.54L1920 299.47L1592.1000000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1592.1 0L1920 299.47L1920 618.1300000000001L1295.7399999999998 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M1295.74 0L1920 618.1300000000001L1920 1360.02L1249.57 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 2000L263.35 2000L0 1354.69z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 1354.69L263.35 2000L1042.3400000000001 2000L0 1263.6100000000001z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 1263.6100000000001L1042.3400000000001 2000L1396.39 2000L0 665.7500000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 665.75L1396.39 2000L1501.8500000000001 2000L0 457.18z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2705'%3e%3crect width='1920' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}

img {
  display: block;
  width: 100%;
}

h1,
h2 {
	font-family: 'Sanchez', serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-size: 72px;
  background: -webkit-radial-gradient(#e8f5e9, #b2dfdb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 4.2rem;
  border: 0.5px solid #ddd;
}
p, i {
	font-family: 'Sanchez', sans-serif;
  font-size: 3rem;
  font-style: normal;
  color: -webkit-radial-gradient(#e8f5e9, #b2dfdb);
}