#car-nav { 
    text-align: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    
  }
  
  .cars { list-style-type: none; }
  
  .cars li { 
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    overflow: hidden;
  }

  
  
  .cars li h5 {
    font: 20px 'Raleway', Arial, serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 8px; 
    position: relative; 
    z-index: 50; 

  }


 
  .cars li p:hover{
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 8px;
    
    
  }
  
  .cars li a {
    text-decoration: none;
  }

  .img{
    width: 50px;
  }
 
  .sprite { 
    width: 150px;
    height: 150px;

  }

  .cars img:hover {
    opacity: 0.7;
  }

