/* Contact section */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 135vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='2000' preserveAspectRatio='none' viewBox='0 0 1920 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2705%26quot%3b)' fill='none'%3e%3crect width='1920' height='2000' x='0' y='0' fill='rgba(3%2c 67%2c 137%2c 1)'%3e%3c/rect%3e%3cpath d='M1920 0L1906.13 0L1920 181.54z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1906.13 0L1920 181.54L1920 299.47L1592.1000000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1592.1 0L1920 299.47L1920 618.1300000000001L1295.7399999999998 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M1295.74 0L1920 618.1300000000001L1920 1360.02L1249.57 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 2000L263.35 2000L0 1354.69z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 1354.69L263.35 2000L1042.3400000000001 2000L0 1263.6100000000001z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 1263.6100000000001L1042.3400000000001 2000L1396.39 2000L0 665.7500000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 665.75L1396.39 2000L1501.8500000000001 2000L0 457.18z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2705'%3e%3crect width='1920' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
   padding-top: 50px;
  }
  
  
  
  .contact-section h2{
    margin-bottom: 20px;
    margin-top: 105px;
  }
  .contact-section-header p{
    margin-bottom: 25px;
  }
  #con {
      
      max-width: 640px;
      border: 2px solid white;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 16px;
      padding-bottom: 16px;
      border-radius: 58px;
      word-spacing: 4px;
      letter-spacing: 3px;
      box-shadow: 0 15px 50px rgba(1, 6, 98, 1);
      opacity: 0.8;
      text-transform: uppercase;
      font-size: 38px;
    
  }
  
  
  @media (max-width: 28.75em) {
    .contact-section{
      height: 175vh;
    }
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-links i{
      color: white;
  }
  
  .contact-links i:hover{
      color: #f05000;
      opacity: 0.8;
  }
  
  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;}




label { 
    display: flex;
    justify-content: center;
    font: normal 16px 'Raleway', Arial, sans-serif;
}

input{
    width: 50%;
}


input[type=text], input[type=email], input[type=tel], textarea {
    
    font: normal 14px 'Roboto', Arial, sans-serif;
	border: 4px solid rgba(1, 6, 98, 1);
    padding: 4px;
	border-radius: 10px;
	margin-top: 12px;
	margin-bottom: 12px;
    width: 300px;
    
	}

    .alert-container{
        color: aqua;
    }

    .submit {
      margin-top: 18px;
      padding: 0.8em 1.8em;
      border: 2px solid #d44e29;
      border-radius: 18px;
      position: relative;
      overflow: hidden;
      background-color: transparent;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      transition: .3s;
      z-index: 1;
      font-family: inherit;
      color: white;
      background-color: rgba(1, 6, 98, 1);
     }
     
     .submit::before {
      content: '';
      width: 0;
      height: 500%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background: #d44e29;
      transition: .5s ease;
      display: block;
      z-index: -1;
      
     }
     
     .submit:hover::before {
      width: 105%;
     }
     
     .submit:hover {
      opacity: 0.8;
      cursor: pointer;
      border: 2px solid #d44e29;
     }
    .status{
        color: aqua;
    }

    .statusgood{
        color: orange;
    }

    .wrapper{
      border-style: none;
    }
    


textarea { resize: none; display: block; }
    


