/* Footer Section */
footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #d44e29;
    
    border-top: 4px solid #bfc8ea;
  }
  #foot {
    color: #fff;
    font-family: "Raleway", sans-serif;
  }
  #fot {
    margin-left: -0.1rem;
    color: white;
    font-family: "Raleway", sans-serif;
  }
  #fot:hover {
    color: rgba(1, 6, 98, 1);
  }
  
  